@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.matches-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  /* padding: 2px; */

  .matches-img-container {
    position: relative;
    display: inline-block;
    height: 200px;
    width: 180px;
    padding: 5px 10px 10px;

    .matches-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 5%;
    }

    .bottom-left {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      bottom: 10px;
      color: white;
      backdrop-filter: blur(1px);
    }
  }
}

.no-matches {
  width: 100%;
  height: 100vh;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  @include tablet{
    display: grid;
  }

  .text {
    width: auto;
    padding: 200px 20px;
    text-align: center;
    align-items: center;
  }

  img {
    width: 100%;
  }
}

