@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 990px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.contact-us-container {
  padding: 100px calc(100vw - 70vw);
  justify-content: center;

  @include tablet {
    margin: 1px;
    padding: 100px calc(100vw - 90vw);
  }

  label {
    font-size: larger;
  }

  h1,
  .form-button {
    color: #f03547;
    text-align: center;
  }

  .form-button {
    background-color: transparent;
    text-align: center;
    color: #f03547;
    font-size: 1em;

    button {
      width: 150px;
      height: 60px;
      margin: 2%;
      border: 1px solid #f03547;
    }
  }

  .col {
    display: flex;
    flex-direction: column;
    padding: 10px;

    textarea {
      padding: 2%;
      resize: none;
    }
  }
}
