@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet-laptop {
  @media screen and (max-width: 1199px){
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.info-container {
  padding: 30px 180px;

  @include tablet-laptop {
    padding: 30px 60px;
  }

  @include tablet {
    padding: 30px 80px;
  }

  .info-img {
    width: auto;
    height: 250px;
    justify-content: center;
  }

  .row {
    display: flex;
    margin: 0;
    padding: 0;
    // max-height: 80%;

    .column {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 10px;
      justify-content: center;

      @include tablet {
        grid-template-columns: 1fr;
        grid-template-areas:
          "picture"
          "text";
      }

      // Image Div CSS
      .span-2 {
        grid-column-start: span 2;
        text-align: center;

        @include tablet {
          height: auto;
          grid-area: picture;
        }

        img {
          width: 100%;

          @include tablet {
            width: 75%;
          }
        }
      }

      // Text Div CSS
      .span-3 {
        grid-column: span 2;
        display: flex;
        align-items: center;

        @include tablet {
          margin: 50px;
        }

        @include mobile {
          padding: 90px;
        }

        .text {
          text-align: left;

          .inner-text-border {
            padding: 100px;
            // border: 4px solid rgba($color: #f03547, $alpha: 0.7);

            @include tablet-laptop {
              padding: 60px;
            }

            @include tablet {
              padding: 60px;
            }
            p {
              font-size: large;
            }
            span { 
              margin: 0;
              font-weight: bolder;
              color: #f03547;
              text-decoration: underline;
            }


          }

          @include tablet {
            padding: 0;
            margin: 0;
            grid-area: text;
          }
        }
      }

      img {
        @include tablet {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
        }
      }
    }
  }
}
