.tinder-container {
  padding-top: 1in;
  justify-content: center;
  align-items: center;
  min-width: 812px;
}

/*  ---- Tinder button CSS ---- */
.card-buttons {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.card-buttons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: inherit;
}

.swipe-left,
.swipe-right {
  font-size: 1.5rem;
}

.swipe-right {
color: #6cebc8;
border: 2px solid #6cebc8;
}

.swipe-left {
  color: #ff5e5f;
  border: 2px solid #ff5e5f;
}
/*  --------------------------- */

.card-hints {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-hints i {
  color: rgba(37, 37, 37, 0.3);
  font-size: 1.2rem;
}

.card-hints p {
  font-weight: lighter;
  margin:0;
  padding: 0 10px;
  color: rgba(37, 37, 37, 0.25);
}


@media only screen and (max-width: 541px) {
    .tinder-container {
        min-width: 200px;
        justify-content: center;
        align-items: center;
    }
}
