.buttons-container {
  display: flex;
  justify-content: space-around;
  width: 100%;

  .button-wrapper {
    display: flex;
    // justify-content: space-between;
    padding: 10px;
    border-radius: 20%;

    .next-btn {
      background-color: "red";
    }

    .submit-btn {
      border-color: green;
      color: green
    }
  }
  .remove-button {
    display: none;
  }
}
