@mixin mobile {
  @media screen and (max-width: 541px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.tinder-container {
  padding-top: 1in;
  justify-content: center;
  align-items: center;
  min-width: 812px;

  @include mobile {
    min-width: 200px;
    justify-content: center;
    align-items: center;
  }

  /* --------- No Tinder Card Styling! --------- */
.no-tinder-cards {
    background-color: #e8e8e8;
    background-position: center center;
    box-shadow: rgb(136, 136, 136) 5px 10px 18px;
    border-radius: 10px;
    height: 400px;
    width: 250px;
    margin: 0px auto;
    opacity: 1;

    h2 {
      padding: 150px 0;
      color: rgba(37, 37, 37, 0.25);
    }
}
}

/*  ---- Tinder button CSS ---- */
.card-buttons {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: inherit;
  }

  .swipe-icon {
    font-size: 1.5rem;
  }

  #mute-icon {
    color: rgba(37, 37, 37, 0.3);
    background-color: rgb(235, 230, 230);
    opacity: .5;
    cursor:auto;
  }

  #swipe-right {
    color: #6cebc8;
    border: 2px solid #6cebc8;
  }

  #swipe-left {
    color: #ff5e5f;
    border: 2px solid #ff5e5f;
  }
}

/*  --------- Botton Card Faded Hints ---------- */

.card-hints {
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: rgba(37, 37, 37, 0.3);
    font-size: 1.2rem;
  }

  p {
    font-weight: lighter;
    margin: 0;
    padding: 0 10px;
    color: rgba(37, 37, 37, 0.25);
  }
}

