.buttons-container {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .button-wrapper {
        display: flex;
        // justify-content: space-between;
        padding: 10px;
        border-radius: 20%;

        .next-btn {
            background-color: 'red';
        }

        .back-btn {
            background-color: rgb(171, 165, 165);
        }

        .submit-btn {
            background-color: green;
        }
    }
}