@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600;700&display=swap');

body {
  font-family: 'Figtree', sans-serif;
}


.App {
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: 1fr 3.5fr;
  height: 100vh;

  @include mobile; @include tablet {
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "a"
    "b";
  }
}

.left-container {
  grid-area: a;
  min-width: 375px ;

  @include tablet {
    width: 100%;
    // padding: 0 20px;
  }

  @include mobile {
    width: 100%;
    // padding: 0 20px;
  }
}

.right-container {
  grid-area: b;
  text-align: center;
  background-color: rgb(245, 245, 245);
}

.wholePage-container {
  grid-column: span 2;
}

.center-items {
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* 'a' tag css */
a {
  text-decoration: none;
  color: inherit;
  // color: black;
  font-style:normal;

  &:hover {
      // color: white;
    cursor: pointer;
  }
}

// For input styling:
input {
  // font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

/* For IMG tags */
.round_styling {
  border-radius: 50%;
}


// textarea {
//   resize: none;
// }

/* @media only screen and (max-width: 541px) {
  
  .App {
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "a"
    "b";
  }

  .left-container {
    /* width: auto; */
    /* display: none; 
  }

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: 
  [class*="col-"] {
    width: 100%;
  }
} */
