.App {
  display: grid;
  grid-template-areas: "a b";
  grid-template-columns: 300px auto;
  height: 100vh;
}

.left-container {
  grid-area: a;
}

.right-container {
  grid-area: b;
}

.temp {
  margin: 60px;
  justify-content: center;
  align-items: center;
}
